<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
<channel>
<title><![CDATA[王孟源有新回复]]></title>
<atom:link href="https://wmyblog.site" rel="self" type="application/rss+xml" />
<description><![CDATA[王孟源有新回复 (https://wmyblog.site)]]></description>
<generator>Github</generator>
<webMaster>Taizi Huang</webMaster>
<language>zh-cn</language>
<lastBuildDate>${date}+0800</lastBuildDate>
<ttl>5</ttl>
%for art_id, comment, reply, nickname, comment_date, comment_md5, comment_tag, deleted in comment_data:
<item>
<% comment = comment.replace('&','&amp;').replace('<','&lt;').replace('>','&gt;') %>
<% reply = reply.replace('&','&amp;').replace('<','&lt;').replace('>','&gt;') %>
<title><![CDATA[${nickname}]]></title>
<description><![CDATA[${comment} <br><br>----<br><br>${reply}]]></description>
<author><![CDATA[王孟源部落格]]></author>
<pubDate>${comment_date.replace(" ", "T")}:00+0800</pubDate>
<guid isPermaLink="false">${comment_md5}</guid>
<link>https://wmyblog.site/html/${art_id}.html#${comment_md5}</link>
</item>
%endfor
</channel></rss>
