<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
<channel>
<title><![CDATA[王孟源有新回复]]></title>
<atom:link href="https://wmyblog.site" rel="self" type="application/rss+xml" />
<description><![CDATA[王孟源有新回复 (https://wmyblog.site)]]></description>
<generator>Github</generator>
<webMaster>Taizi Huang</webMaster>
<language>zh-cn</language>
<lastBuildDate>${date} +0800</lastBuildDate>
<ttl>5</ttl>
%for source, id, uuid, say, reply, user, time, striked in reply_li:
%if reply:
<item>
<% say = say.replace('&','&amp;').replace('<','&lt;').replace('>','&gt;') %>
<% reply = reply.replace('&','&amp;').replace('<','&lt;').replace('>','&gt;') %>
<title><![CDATA[${source} | ${user}]]></title>
<description><![CDATA[${say} <br><br>----<br><br>${reply}]]></description>
<author><![CDATA[王孟源部落格]]></author>
<pubDate>${time} +0800</pubDate>
<guid isPermaLink="false">${uuid}</guid>
<link>https://wmyblog.site/html/${id}.html#${uuid}</link>
</item>
%endif
%endfor
</channel></rss>